<!DOCTYPE html>
<html>
<head>
    <title>Polls</title>
</head>
<body>

<h1>Available polls:</h1>
<ul>
{% for poll in polls %}
    <li>
        <a href="poll/{{ poll.id }}">{{ poll.name }}</a>
    </li>
{% endfor %}
</ul>

</body>
</html>
